In [27]:
import re
from datetime import datetime

In [28]:
with open('r1840_report.txt') as file:
    file_contents = file.read()
    print(file_contents)

       IVS Analysis Report for R1840 ($18MAY02XA)
       This report is the official IVS analysis report that corresponds to
       the database maintained by the IVS Data Centers for this session.
   (Analyzed by David Gordon, Goddard Space Flight Center.
    Spoolfile source: interactive solve/nuSolve analysis.)


***WARNING:  The correlation statistics
             could not be included in this report.
             The reason for this failure is:
                $18MAY02XA NOT FOUND IN DATABASE CATALOG (OR HAS NO ENTRIES) ***


***WARNING:  Some of the observations that were correlated in X-band
             might not have been correlated in S-band.
             But the attempt to read the S-band database
             in order to check this possibility failed.
             Therefore the counts of the correlated observations
             and other counts derived from them have not been verified.
             The reason for the failure to read the S-band database is:
                $18MAY02SA NOT FOUND IN DATABASE CATALOG (OR HAS NO ENTRIES) ***


Problems: YARRA12M has 4 clock breaks: at ~00:43, ~04:36, ~10:17, and ~13:28.
          SEJONG has many S-band subambiguities, resulting in a very low yield.
          MATERA also has S-band subambiguities.

Parameterization comments: None.

Other comments: None.

-----------------------------------------

Session Statistics

  Observations:     8014 scheduled
                       ? correlated (in database)
                    6773 recoverable (usable)
                    6041 used
  Session fit:        39.027 ps

-----------------------------------------

Station Performance

                           Number of Observations

                    Scheduled   Recoverable*        Used   % of scheduled
                                                              obs used

  HART15M                1151           911          862        74.9%
  ISHIOKA                1810          1612         1457        80.5%
  KATH12M                1496          1295         1221        81.6%
  KOKEE                  1385          1167         1097        79.2%
  MATERA                 1571          1282         1073        68.3%
  NYALES20               1621          1501         1397        86.2%
  ONSALA60               1328          1260         1154        86.9%
  SEJONG                 1450           980          511        35.2%
  WARK12M                1158           781          739        63.8%
  WETTZELL               1652          1522         1418        85.8%
  YARRA12M               1406          1235         1153        82.0%
  ---------------   ---------   -----------    ---------       ------
  Station Total**        8014          6773         6041        75.4%

  * Recoverable: can be included in the solution.
  ** Total includes distinct observations only.

  MISSED:    Station was scheduled, but it did not observe.
  NOT CORR:  Station was scheduled but not correlated.
  NOT USED:  Usable data was generated for this station,
             but the analyst rejected it all.

-----------------------------------------

Source Performance

                    Number of Observations

                Scheduled  Correlated*    Used      % of scheduled
                                                       obs used

  2005+642              6           ?        6          100.0%
  1204+399             17           ?       14           82.4%
  2301+060              2           ?        2          100.0%
  NRAO190              82           ?       28           34.1%
  1022-665             18           ?        3           16.7%
  1145-071            120           ?       87           72.5%
  0454-463             96           ?       75           78.1%
  1519-294              3           ?        2           66.7%
  0714+457              6           ?        5           83.3%
  1722+330              9           ?        8           88.9%
  0048-097              1           ?        0            0.0%
  0104-408            134           ?      106           79.1%
  0119+041             59           ?       51           86.4%
  0133+476            424           ?      337           79.5%
  CTA26               243           ?      183           75.3%
  0454-234            307           ?      230           74.9%
  0530-727             13           ?       11           84.6%
  0656+082             26           ?       25           96.2%
  0718+793            128           ?      103           80.5%
  0727-115            445           ?      346           77.8%
  0823+033            144           ?      122           84.7%
  OJ287               528           ?      403           76.3%
  0955+476            395           ?      328           83.0%
  1034-293             67           ?       34           50.7%
  1144-379            162           ?      123           75.9%
  1351-018             44           ?       31           70.5%
  1424-418            160           ?      115           71.9%
  1606+106             92           ?       81           88.0%
  NGC6251              24           ?       17           70.8%
  1749+096            228           ?      163           71.5%
  2052-474             81           ?       64           79.0%
  2113+293             35           ?       24           68.6%
  2255-282             42           ?       37           88.1%
  0237-027             52           ?       40           76.9%
  0800+618             99           ?       71           71.7%
  1244-255              3           ?        3          100.0%
  1324+224             25           ?       20           80.0%
  1846+322             72           ?       68           94.4%
  1909+161              1           ?        1          100.0%
  2000+472            235           ?      162           68.9%
  2215+150            195           ?      168           86.2%
  2227-088            350           ?      239           68.3%
  0025+197              7           ?        7          100.0%
  0340+362              7           ?        3           42.9%
  0529+483            169           ?      133           78.7%
  1013+127              2           ?        2          100.0%
  1053+704             88           ?       81           92.0%
  1059+282             14           ?       13           92.9%
  1212+171              1           ?        1          100.0%
  1327+504             14           ?        9           64.3%
  1342+662              7           ?        7          100.0%
  1441+252             82           ?       60           73.2%
  1520+437              7           ?        3           42.9%
  1623+578              9           ?        6           66.7%
  2059+034             21           ?       16           76.2%
  0723+219              7           ?        6           85.7%
  0920-397             20           ?        4           20.0%
  1406-267              1           ?        0            0.0%
  1656-075             21           ?       12           57.1%
  1759-396             57           ?       31           54.4%
  0016+731            586           ?      447           76.3%
  0206+136              5           ?        2           40.0%
  0308-611             68           ?       59           86.8%
  0332-403              5           ?        2           40.0%
  0347-211             17           ?       13           76.5%
  0544+273             14           ?       12           85.7%
  0627-199             22           ?       17           77.3%
  0925-203            151           ?      106           70.2%
  1502+036             35           ?       31           88.6%
  1657-261            206           ?       85           41.3%
  1806+456            153           ?      122           79.7%
  2013+163             50           ?       44           88.0%
  0008-264             14           ?       14          100.0%
  0202+319            596           ?      497           83.4%
  NRAO150              41           ?       29           70.7%
  1243-072             19           ?       14           73.7%
  1936-155            295           ?      205           69.5%
  2126-158             30           ?       12           40.0%
  ------------  ---------  ----------   ------          ------
  Source Total       8014           ?     6041           75.4%

 * Correlated: included in database

-----------------------------------------

Baseline Performance

                                 Number of Observations

                         Scheduled   Recoverable*         Used   % of scheduled
                                                                    obs used

  HART15M-ISHIOKA               98            78            78        79.6%
  HART15M-KATH12M              108            90            89        82.4%
  HART15M-KOKEE                  0      NOT CORR      NOT CORR         0.0%
  HART15M-MATERA               207           139           126        60.9%
  HART15M-NYALES20              94            77            77        81.9%
  HART15M-ONSALA60             145           133           127        87.6%
  HART15M-SEJONG                87            48            25        28.7%
  HART15M-WARK12M              105            60            60        57.1%
  HART15M-WETTZELL             176           169           165        93.8%
  HART15M-YARRA12M             131           117           115        87.8%
  ISHIOKA-KATH12M              222           218           213        95.9%
  ISHIOKA-KOKEE                278           265           260        93.5%
  ISHIOKA-MATERA               123           104            91        74.0%
  ISHIOKA-NYALES20             211           206           198        93.8%
  ISHIOKA-ONSALA60              99            98            94        94.9%
  ISHIOKA-SEJONG               295           228           118        40.0%
  ISHIOKA-WARK12M              159            99            97        61.0%
  ISHIOKA-WETTZELL             144           138           135        93.8%
  ISHIOKA-YARRA12M             181           178           173        95.6%
  KATH12M-KOKEE                152           143           142        93.4%
  KATH12M-MATERA                54            40            35        64.8%
  KATH12M-NYALES20              60            56            56        93.3%
  KATH12M-ONSALA60              26            26            24        92.3%
  KATH12M-SEJONG               208           129            72        34.6%
  KATH12M-WARK12M              268           209           209        78.0%
  KATH12M-WETTZELL              53            48            48        90.6%
  KATH12M-YARRA12M             345           336           333        96.5%
  KOKEE-MATERA                  87            60            50        57.5%
  KOKEE-NYALES20               198           185           182        91.9%
  KOKEE-ONSALA60                73            66            65        89.0%
  KOKEE-SEJONG                 159           103            55        34.6%
  KOKEE-WARK12M                198           123           122        61.6%
  KOKEE-WETTZELL               121           114           114        94.2%
  KOKEE-YARRA12M               119           108           107        89.9%
  MATERA-NYALES20              272           250           209        76.8%
  MATERA-ONSALA60              321           299           251        78.2%
  MATERA-SEJONG                 84            43            15        17.9%
  MATERA-WARK12M                 2             1    DESELECTED         0.0%
  MATERA-WETTZELL              363           301           256        70.5%
  MATERA-YARRA12M               58            45            40        69.0%
  NYALES20-ONSALA60            257           253           252        98.1%
  NYALES20-SEJONG              121            89            42        34.7%
  NYALES20-WARK12M              24            17            17        70.8%
  NYALES20-WETTZELL            343           330           327        95.3%
  NYALES20-YARRA12M             41            38            37        90.2%
  ONSALA60-SEJONG               71            62            35        49.3%
  ONSALA60-WARK12M               3             3    DESELECTED         0.0%
  ONSALA60-WETTZELL            301           289           277        92.0%
  ONSALA60-YARRA12M             32            31            29        90.6%
  SEJONG-WARK12M               140            66            34        24.3%
  SEJONG-WETTZELL               96            81            46        47.9%
  SEJONG-YARRA12M              189           131            69        36.5%
  WARK12M-WETTZELL               2             2    DESELECTED         0.0%
  WARK12M-YARRA12M             257           201           200        77.8%
  WETTZELL-YARRA12M             53            50            50        94.3%
  -----------------      ---------   -----------    ----------       ------
  Baseline Total              8014          6773          6041        75.4%

  * Recoverable: can be included in the solution.

  MISSED:     Baseline was scheduled, but at least one of the sites
              did not observe.
  NOT CORR:   Baseline was scheduled but not correlated.
  NO DATA:    The baseline's stations were both correlated,
              but they did not observe together.
  DESELECTED: Usable data was generated for the baseline,
              but the analyst rejected it.

In [44]:
with open('r1875-ivs-analysis-report.txt') as file:
    contents = file.read()
    sections = contents.split('-----------------------------------------')

In [45]:
def problemFinder(text_section):
    stations = ['KATH12M', 'YARRA12M', 'HOBART12', 'HOBART26']
    problem_bool = []
    problem_string = []
    for ant in stations:
        regex = ant + '.*\n[\s]{11}.*|' + ant + '.*$'
        problem = re.findall(regex,text_section,re.MULTILINE)
        if len(problem) > 0:
            problem_bool.append(True)
            problem_string.append(problem[0].replace('\n', ""))
        else:
            problem_bool.append(False)
            problem_string.append('')
    return problem_bool, problem_string

In [46]:
problemFinder(sections[0])

([True, True, False, False],
 ['KATH12M had DBBC problems. The ambiguity resolution was extremely           difficult, almost but not quite impossible.',
  'YARRA12M has small clock breaks at ~02:00 and ~11:31 UTC.',
  '',
  ''])

In [47]:
def percent2decimal(percent_string):
    return float(percent_string.strip('%'))/100


def stationPerformance(text_section):
    stations = ['KATH12M', 'YARRA12M', 'HOBART12', 'HOBART26']
    station_performance = []
    for ant in stations:
        regex = ant + ".*"
        performance = re.findall(regex,text_section,re.MULTILINE)
        if len(performance) > 0:
            percentage = [s for s in performance[0].split() if "%" in s]
            performance = percent2decimal(percentage[0])
            station_performance.append(performance)
        else:
            station_performance.append(None)
    
    return station_performance

In [48]:
stationPerformance(sections[2])

[0.645, 0.809, None, None]

In [54]:
def metaData(text_section):
    vgosDBtag = re.findall("(?<=\$).{9}",text_section,re.MULTILINE)
    date = re.findall("(?<=\$).{7}",text_section,re.MULTILINE)
    date = datetime.strptime(date[0], '%y%b%d').strftime('%Y-%m-%d')
    exp_code = re.findall("(?<=Analysis Report for\s)(.*?(?=\s))",text_section,re.MULTILINE)
    analyser = re.findall("\S.*(?=\sAnalysis Report for\s)",text_section,re.MULTILINE)
    return exp_code[0], analyser[0], date, vgosDBtag[0]
    # pretty sure this doesn't work post-2099, but like... you shouldn't be using this trash then... right?

In [55]:
metaData(sections[0])

('R1875', 'IVS', '2019-01-02', '19JAN02XA')

In [56]:
with open('r1875-ivs-analysis-report.txt') as file:
    contents = file.read()
    sections = contents.split('-----------------------------------------')
    
meta = metaData(sections[0])
performance = stationPerformance(sections[2])
problems = problemFinder(sections[0])

In [13]:
import MySQLdb as mariadb
conn = mariadb.connect(user='root', passwd='', db='auscope_test')
cursor = conn.cursor()

OperationalError: (2002, "Can't connect to local MySQL server through socket '/run/mysqld/mysqld.sock' (2)")

In [14]:
sql_command = []
station_id = ['Ke', 'Yg', 'Hb', 'Ho']
for i in range(0, len(performance)):
    if performance[i] == None:
        break
    else:
        sql_station = "INSERT IGNORE INTO " + station_id[i] + " (ExpID, Performance, Date, Problem, Problem_String, Analyser) VALUES ('{}', {},'{}', {}, '{}' , '{}');".format(meta[0], performance[i], meta[2], problems[0][i], problems[1][i], meta[1])
        sql_command.append(sql_station)

# this snippet of code essentially checks if a performance metric exists (and therefore the station participated in the experiment)
# If this is true, it generates an SQL command string for that station.

In [15]:
sql_command

["INSERT IGNORE INTO Ke (ExpID, Performance, Date, Problem, Problem_String, Analyser) VALUES ('R1875', 0.645,'2019-01-02', True, 'KATH12M had DBBC problems. The ambiguity resolution was extremely           difficult, almost but not quite impossible.' , 'IVS');",
 "INSERT IGNORE INTO Yg (ExpID, Performance, Date, Problem, Problem_String, Analyser) VALUES ('R1875', 0.809,'2019-01-02', True, 'YARRA12M has small clock breaks at ~02:00 and ~11:31 UTC.' , 'IVS');"]

In [16]:
for i in range(0,len(sql_command)):
    cursor.execute(sql_command[i])

conn.commit()
conn.close()

NameError: name 'cursor' is not defined

In [17]:
conn = mariadb.connect(user='root', passwd='', db='auscope_test')
cursor = conn.cursor()
query = "SELECT ExpID FROM Ke"
cursor.execute(query)
result_list = [item for sublist in cursor.fetchall() for item in sublist]
print(result_list)

OperationalError: (2002, "Can't connect to local MySQL server through socket '/run/mysqld/mysqld.sock' (2)")

In [18]:
station_id = ['Ke', 'Yg', 'Hb', 'Ho']
conn = mariadb.connect(user='root', passwd='')
cursor = conn.cursor()
query = "CREATE OR REPLACE DATABASE auscope_test;"
cursor.execute(query)
conn.commit()
query = "USE auscope_test"
cursor.execute(query)
conn.commit()

for ant in station_id:
    query = "CREATE TABLE IF NOT EXISTS "+ ant + " (ExpID VARCHAR(10) NOT NULL PRIMARY KEY, Performance decimal(4,3) NOT NULL, Date DATETIME, Pos_X decimal(14,2), Pos_Y decimal(14,2), Pos_Z decimal(14,2), Problem BIT(1), Problem_String VARCHAR(100), Analyser VARCHAR(10) NOT NULL);" 
    cursor.execute(query)
    conn.commit()
    
conn.close()

OperationalError: (2002, "Can't connect to local MySQL server through socket '/run/mysqld/mysqld.sock' (2)")

In [19]:
station_id = ['Ke', 'Yg', 'Hb', 'Ho']
conn = mariadb.connect(user='root', passwd='')
cursor = conn.cursor()
query = "CREATE DATABASE IF NOT EXISTS auscope_test;"
cursor.execute(query)
conn.commit()
query = "USE auscope_test"
cursor.execute(query)
conn.commit()
for ant in station_id:
    query = "CREATE TABLE IF NOT EXISTS "+ ant + " (ExpID VARCHAR(10) NOT NULL PRIMARY KEY, Performance decimal(4,3) NOT NULL, Date DATETIME, Pos_X decimal(14,2), Pos_Y decimal(14,2), Pos_Z decimal(14,2), Problem BIT(1), Problem_String VARCHAR(100), Analyser VARCHAR(10) NOT NULL);" 
    cursor.execute(query)
    conn.commit()
    
conn.close()

OperationalError: (2002, "Can't connect to local MySQL server through socket '/run/mysqld/mysqld.sock' (2)")